# Keys
keystore.properties
/app/*.keystore
local.properties

# IntelliJ IDEA
.idea
*.iml
*.ipr
*.iws

# Android
captures/**

# Gradle
/.gradle/**
/build/**


# Android sdk
/.android

# Other
#Other
.DS_Store
tmp
*.swp
*.tmp
*.bak
*.swp
*.launch
